img {
    transition:
        opacity 0.9s ease-in-out,
        transform 0.9s ease-in-out;
    will-change: opacity;
    transform: translateZ(0);
    animation: fadeIn 200ms ease-in-out;
}
img-show {
    opacity: 1;
}
img-hide {
    opacity: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
