main {
    background-color: white;
}

main h3 {
    width: 98.9%;
    font-size: 1.4rem !important;
}
.first-carousel {
    left: 7px;
}
.first-carousel .p-card-title {
    font-size: 1rem !important;
}
.first-carousel .p-card-subtitle {
    font-size: 0, 5rem !important;
}
.first-carousel 
{
    .p-card-header{
       img{
        aspect-ratio: 4/3;
       }
    }    
}
