.custom-input-file {
    height: 70px;
    cursor: pointer !important;
}
.custom-input-file input {
    position: absolute;
    bottom: 0;
    display: none;
    z-index: -1;
    cursor: pointer !important;
    // background: transparent;
    // visibility: hidden;
}
.text-custom-input-file {
    position: absolute;
    bottom: -9px;
    text-overflow: ellipsis;
    border: 1px solid #ced4da;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 6px;
    padding: 8px 12px;

    width: 100%;
    cursor: pointer;
}
.custom-input-file .p-error {
    position: relative;
    bottom: -44px;
    left: 2px;
}
